* {
    font-family: 'Outfit', sans-serif; 
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    .container {
        width: calc(100vw - 200px);
        margin: auto;
        height: 100vh;
        background-color: hsl(212, 45%, 89%);
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    .container .card {
        width: 350px;
        max-width: 90%;
        height: 520px;
        background-color: hsl(0, 0%, 100%);
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
    .container .card img {
        width: 100%;
        border-radius: 10px;
    }
    .container .card p:nth-of-type(1) {
      font-weight: 700;
      color : hsl(218, 44%, 22%);
      text-align: center;
      font-size: 18px;
    }
    .container .card p:nth-of-type(2) {
        margin-top: 0;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color :  hsl(220, 15%, 55%)
    }
    @media(max-width: 991px) {
        .container {
          width : 100% 
        }
      }

